<!DOCTYPE html>
<!-- saved from url=(0051)https://themewagon.github.io/VillaAgency/index.html -->
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./Villa Agency - Real Estate HTML5 Template_files/css2" rel="stylesheet">

    <title>Location Immobilière - Real Estate HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css">


  <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('css/fontawesome.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/templatemo-villa-agency.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/owl.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/animate.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css')}}" type="text/css">
  <!--

TemplateMo 591 villa agency

https://templatemo.com/tm-591-villa-agency

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader loaded">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="https://themewagon.github.io/VillaAgency/index.html" class="logo">
                        <!-- h1>Villa</h1 -->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->

                    
                    <ul class="nav">
                      <li><a href="/" class="active">Home</a></li>
                      <li><a href="/annonce/list">Annonces</a></li>
                      <li><a href="/connexion">Connexion</a></li>
                    </ul>   
                    
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <div class="main-banner">
    <div class="owl-carousel owl-banner owl-loaded owl-drag">
      
      
      
<div class="video-content .video-frame">
  <div class="video-content .video-frame img">
      <img src="../public/image/video-frame.jpg">
  </div>

</div>
</div></div>
          



