
<!DOCTYPE html>
<!-- saved from url=(0051)https://themewagon.github.io/VillaAgency/index.html -->
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./Villa Agency - Real Estate HTML5 Template_files/css2" rel="stylesheet">

    <title>Location Immobilière - Real Estate HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css">


  <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('css/fontawesome.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/templatemo-villa-agency.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/owl.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/animate.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/swiper-bundle.min.css')}}" type="text/css">
  <!--

TemplateMo 591 villa agency

https://templatemo.com/tm-591-villa-agency

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader loaded">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="https://themewagon.github.io/VillaAgency/index.html" class="logo">
                        <!-- h1>Villa</h1 -->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->

                       
                    
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

    <div class="contact-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-15">

          <div id="map">
            <iframe src="" width="0%" height="500px" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen=""></iframe>
          </div>

          <form id="typelogementForm" action="/typelogement/create" method="post">
          <div class="row">
            <div class="col-lg-6">
              <div class="item phone">
                <fieldset>
                  <label for="ville">Ville</label>
                  <input type="text" name="ville" id="ville" placeholder="Ville..." autocomplete="on" required="">
                </fieldset>                
              </div>
            </div>

            <div class="col-lg-6">
              <div class="item email">
                <fieldset>
                  <label for="typeLogment">Type logement</label>
                  <select type="text" name="typeLogment" id="typeLogment" placeholder="Type logment..." required="">
                    <option>...</option>
                    {% for tl in typelogements %}
                    <option> {{tl.libelle}} </option>
                    {%endfor%}                                    
                  </select>
                
                  <a href="/annonce/list">Rechercher</a>
                </fieldset>
              </div>
            </div>
          </div>
</form>
        </div>
      </div>
    </div>
  </div>

    <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="{{ asset('image/video-frame.jpg')}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="{{ asset('js/jquery.min.js')}}"></script>
  <script src="{{ asset('js/bootstrap.min.js')}}"></script>
  <script src="{{ asset('js/isotope.min.js')}}"></script>
  <script src="{{ asset('js/owl-carousel.js')}}"></script>
  <script src="{{ asset('js/counter.js')}}"></script>
  <script src="{{ asset('js/custom.js')}}"></script>

    <script src="{{ asset('js/init_embed.js')}}"></script>
  <script src="{{ asset('js/map.js')}}"></script>
  <script src="{{ asset('js/onion.js')}}"></script>
  <script src="{{ asset('js/overlay.js')}}"></script>
  <script src="{{ asset('js/sb-admin-2.js')}}"></script>
  <script src="{{ asset('js/sb-admin-2.min.js')}}"></script>
    <script src="{{ asset('js/search_impl.js')}}"></script>
  <script src="{{ asset('js/util.js')}}"></script>
  <script src="{{ asset('js/common.min.js')}}"></script>
          
</body>
</html>
